# Корневой файл зависимостей для проекта scheduler

# Зависимости для микросервиса парсера
-r scheduler_runner/tasks/reports/parser/requirements.txt

# Зависимости для микросервиса уведомлений
-r scheduler_runner/utils/notifications/requirements.txt

# Зависимости для микросервиса загрузчика
-r scheduler_runner/utils/uploader/requirements.txt

# Дополнительные зависимости проекта
google-auth-oauthlib==1.2.4
google-api-python-client==2.189.0
webdriver-manager==4.0.2
psutil==7.2.2
charset-normalizer==3.4.2
idna==3.10
urllib3==2.5.0
certifi==2025.6.15
colorama==0.4.6
packaging==25.0
setuptools==80.9.0